.textField {
    display: inline-grid;
    grid-template-columns: 1fr;
    row-gap: 0.5em;
}

.textField label {
    text-align: left;
    color: white;
}

.textField div {
    padding-left: 4px;
    margin-bottom: -12px;
}

.textField input {
    padding-top: -10px;
    width: 95%;
    border: 2px solid white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: left;
}

.textField input:focus {
    border: 2px solid #98a5f3;
}

.formErrors {
    display: block;
    color: red;
    font-size: 7px;
}
