.outerContainer{
    display: block;
    position: relative;
    text-align: center;
}

.loginText{
    display: block;
}

.loginContainer{
    background-color: #4253B4;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.loginButtonContainer{
    display: inline-block;
    padding: 4px;
    margin-top: 20px;
}